<article>
    <div class="article-wrapper">
        <div class="article-details">
            <a class="article-title" href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
            <footer class="article-info">
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>

                {{ if .Params.categories }}
                {{ range (.GetTerms "categories") }}

                <a href="{{ .RelPermalink }}">
                    {{ partial "helper/icon" "categories-filled" }}
                    {{ .LinkTitle }}
                </a>
                {{ end }}
                {{ end }}

                {{ if .Params.tags }}
                {{ range (.GetTerms "tags") }}
                <a href="{{ .RelPermalink }}">
                    {{ partial "helper/icon" "tag-filled" }}
                    {{ .LinkTitle }}
                </a>
                {{ end }}
                {{ end }}
            </footer>
        </div>

        {{- $image := partialCached "helper/image" (dict "Context" . "Type" "articleList") .RelPermalink "articleList"
        -}}
        {{ if $image.exists }}
        <div class="article-image">
            {{ if $image.resource }}
            {{- $Permalink := $image.resource.RelPermalink -}}
            {{- $Width := $image.resource.Width -}}
            {{- $Height := $image.resource.Height -}}

            {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
            {{- $thumbnail := $image.resource.Fill "120x120" -}}
            {{- $Permalink = $thumbnail.RelPermalink -}}
            {{- $Width = $thumbnail.Width -}}
            {{- $Height = $thumbnail.Height -}}
            {{- end -}}

            <img src="{{ $Permalink }}" width="{{ $Width }}" height="{{ $Height }}" alt="{{ .Title }}" loading="lazy">
            {{ else }}
            <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
            {{ end }}
        </div>
        {{ end }}
    </div>
</article>