.admonition {
  position: relative;
  margin: 1em 0;
  padding: 0 .75em;
  background-color: map-get($admonition-background-color-map, 'note');
  border-left: .25em solid map-get($admonition-color-map, 'note');
  overflow: auto;

  .admonition-title {
    font-weight: bold;
    margin: 0 -0.75em;
    padding: .25em 1.8em;
    border-bottom: 1px solid map-get($admonition-background-color-map, 'note');
    background-color: opacify(map-get($admonition-background-color-map, 'note'), 0.15);
  }

  &.open .admonition-title {
    background-color: map-get($admonition-background-color-map, 'note');
  }

  .admonition-content {
    padding: .5em 0;
  }

  span.icon > svg {
    font-size: 0.85em;
    color: map-get($admonition-color-map, 'note');
    position: absolute;
    top: .6em;
    left: .4em;
  }

  span.details-icon > svg {
    position: absolute;
    top: .6em;
    right: .3em;
  }

  @each $type, $color in $admonition-color-map {
    &.#{$type} {
      border-left-color: $color;

      span.icon > svg {
        color: $color;
      }
    }
  }

  @each $type, $color in $admonition-background-color-map {
    &.#{$type} {
      background-color: $color;

      .admonition-title {
        border-bottom-color: $color;
        background-color: opacify($color, 0.15);
      }

      &.open .admonition-title {
        background-color: $color;
      }
    }
  }

  &:last-child {
    margin-bottom: .75em;
  }
}
