<div class="article-list--compact links">
    {{ range $i, $link := .Params.links }}
    <article>
        <div class="article-wrapper">

            <div class="article-details">
                <h2 class="article-title">
                    <a href="{{ $link.website }}" target="_blank" rel="noopener">
                        {{- $link.title -}}
                    </a>
                </h2>
                <footer class="article-time">
                    {{ with $link.description }}
                    {{ . }}
                    {{ else }}
                    {{ $link.website }}
                    {{ end }}
                </footer>
            </div>

            {{ with $link.image }}
            {{ $permalink := . }}
            {{ with ($.Resources.GetMatch (printf "%s" (. | safeURL))) }}
            {{ $permalink = .RelPermalink }}
            {{ end }}
            <div class="article-image">
                <img src="{{ $permalink }}" loading="lazy">
            </div>
            {{ end }}

        </div>
    </article>
    {{ end }}
</div>