<script type="module">
    const colorSchemeKey = 'StackColorScheme';
    let colorTheme = localStorage.getItem(colorSchemeKey) == 'dark' ? 'dark' : "default";
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    // mermaid.initialize({ startOnLoad: true,theme:colorTheme});
    mermaid.initialize({
        startOnLoad: true,
        theme: 'base',
        themeVariables: {
            'primaryColor': '#ddeeff',
            'primaryTextColor': '#bb5555',
            'primaryBorderColor': '#606060',
            'textColor': '#5577bb',
            'lineColor': '#22aa55',
            'secondaryColor': '#ccddcc',
            'tertiaryColor': '#b0c0d0'
        }
    });
</script>