{{- $inner := .Inner | .Page.RenderString -}}

{{- if .IsNamedParams -}}
    {{- $type := .Get "type" | default "note" -}}
    <div class="details admonition {{ $type }}">
        <div class="details-summary admonition-title">
            <span class="icon">
                {{- partial "helper/icon.html" ((print "admonition-" $type) | default (print "admonition-" "note")) -}}
            </span>
            {{- .Get "title" | default ($type|humanize) -}}
        </div>
        <div class="details-content">
            <div class="admonition-content">
                {{- $inner -}}
            </div>
        </div>
    </div>
{{- else -}}
    {{- $type := .Get 0 | default "note" -}}
    <div class="details admonition {{ $type }}">
        <div class="details-summary admonition-title">
            <span class="icon">
                {{- partial "helper/icon.html" ((print "admonition-" $type) | default (print "admonition-" "note")) -}}
            </span>
            {{ .Get 1 | default ($type|humanize) }}
        </div>
        <div class="details-content">
            <div class="admonition-content">
                {{- $inner -}}
            </div>
        </div>
    </div>
{{- end -}}
