/* Background */
.bg {
    color: #4c4f69;
    background-color: #f5f5f5;
}

/* PreWrapper */
.chroma {
    color: #4c4f69;
    background-color: #f5f5f5;
}

/* Other */
.chroma .x {}

/* Error */
.chroma .err {
    color: #d20f39
}

/* CodeLine */
.chroma .cl {}

/* LineLink */
.chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit
}

/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineHighlight */
.chroma .hl {
    background-color: #bcc0cc
}

/* LineNumbersTable */
.chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #8c8fa1
}

/* LineNumbers */
.chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #8c8fa1
}

/* Line */
.chroma .line {
    display: flex;
}

/* Keyword */
.chroma .k {
    color: #8839ef
}

/* KeywordConstant */
.chroma .kc {
    color: #cc4400
}

/* KeywordDeclaration */
.chroma .kd {
    color: #d20f39
}

/* KeywordNamespace */
.chroma .kn {
    color: #179299
}

/* KeywordPseudo */
.chroma .kp {
    color: #8839ef
}

/* KeywordReserved */
.chroma .kr {
    color: #8839ef
}

/* KeywordType */
.chroma .kt {
    color: #d20f39
}

/* Name */
.chroma .n {}

/* NameAttribute */
.chroma .na {
    color: #1e66f5
}

/* NameBuiltin */
.chroma .nb {
    color: #0465e5
}

/* NameBuiltinPseudo */
.chroma .bp {
    color: #0465e5
}

/* NameClass */
.chroma .nc {
    color: #a05500
}

/* NameConstant */
.chroma .no {
    color: #a05500
}

/* NameDecorator */
.chroma .nd {
    color: #1e66f5;
    font-weight: bold
}

/* NameEntity */
.chroma .ni {
    color: #179299
}

/* NameException */
.chroma .ne {
    color: #cc4400
}

/* NameFunction */
.chroma .nf {
    color: #1e66f5
}

/* NameFunctionMagic */
.chroma .fm {
    color: #1e66f5
}

/* NameLabel */
.chroma .nl {
    color: #0465e5
}

/* NameNamespace */
.chroma .nn {
    color: #cc4400
}

/* NameOther */
.chroma .nx {}

/* NameProperty */
.chroma .py {
    color: #cc4400
}

/* NameTag */
.chroma .nt {
    color: #8839ef
}

/* NameVariable */
.chroma .nv {
    color: #b35b47
}

/* NameVariableClass */
.chroma .vc {
    color: #b35b47
}

/* NameVariableGlobal */
.chroma .vg {
    color: #b35b47
}

/* NameVariableInstance */
.chroma .vi {
    color: #b35b47
}

/* NameVariableMagic */
.chroma .vm {
    color: #b35b47
}

/* Literal */
.chroma .l {}

/* LiteralDate */
.chroma .ld {}

/* LiteralString */
.chroma .s {
    color: #40a02b
}

/* LiteralStringAffix */
.chroma .sa {
    color: #d20f39
}

/* LiteralStringBacktick */
.chroma .sb {
    color: #40a02b
}

/* LiteralStringChar */
.chroma .sc {
    color: #40a02b
}

/* LiteralStringDelimiter */
.chroma .dl {
    color: #1e66f5
}

/* LiteralStringDoc */
.chroma .sd {
    color: #7f828d
}

/* LiteralStringDouble */
.chroma .s2 {
    color: #40a02b
}

/* LiteralStringEscape */
.chroma .se {
    color: #1e66f5
}

/* LiteralStringHeredoc */
.chroma .sh {
    color: #7f828d
}

/* LiteralStringInterpol */
.chroma .si {
    color: #40a02b
}

/* LiteralStringOther */
.chroma .sx {
    color: #40a02b
}

/* LiteralStringRegex */
.chroma .sr {
    color: #179299
}

/* LiteralStringSingle */
.chroma .s1 {
    color: #40a02b
}

/* LiteralStringSymbol */
.chroma .ss {
    color: #40a02b
}

/* LiteralNumber */
.chroma .m {
    color: #cc4400
}

/* LiteralNumberBin */
.chroma .mb {
    color: #cc4400
}

/* LiteralNumberFloat */
.chroma .mf {
    color: #cc4400
}

/* LiteralNumberHex */
.chroma .mh {
    color: #cc4400
}

/* LiteralNumberInteger */
.chroma .mi {
    color: #cc4400
}

/* LiteralNumberIntegerLong */
.chroma .il {
    color: #cc4400
}

/* LiteralNumberOct */
.chroma .mo {
    color: #cc4400
}

/* Operator */
.chroma .o {
    color: #04a5e5;
    font-weight: bold
}

/* OperatorWord */
.chroma .ow {
    color: #04a5e5;
    font-weight: bold
}

/* Punctuation */
.chroma .p {}

/* Comment */
.chroma .c {
    color: #7f828d;
}

/* CommentHashbang */
.chroma .ch {
    color: #7f828d;
}

/* CommentMultiline */
.chroma .cm {
    color: #7f828d;
}

/* CommentSingle */
.chroma .c1 {
    color: #7f828d;
}

/* CommentSpecial */
.chroma .cs {
    color: #7f828d;
}

/* CommentPreproc */
.chroma .cp {
    color: #7f828d;
}

/* CommentPreprocFile */
.chroma .cpf {
    color: #7f828d;
    font-weight: bold;
}

/* Generic */
.chroma .g {}

/* GenericDeleted */
.chroma .gd {
    color: #d20f39;
    background-color: #ccd0da
}

/* GenericEmph */
.chroma .ge {
    font-style: italic
}

/* GenericError */
.chroma .gr {
    color: #d20f39
}

/* GenericHeading */
.chroma .gh {
    color: #cc4400;
    font-weight: bold
}

/* GenericInserted */
.chroma .gi {
    color: #40a02b;
    background-color: #ccd0da
}

/* GenericOutput */
.chroma .go {}

/* GenericPrompt */
.chroma .gp {}

/* GenericStrong */
.chroma .gs {
    font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
    color: #cc4400;
    font-weight: bold
}

/* GenericTraceback */
.chroma .gt {
    color: #d20f39
}

/* GenericUnderline */
.chroma .gl {
    text-decoration: underline
}

/* TextWhitespace */
.chroma .w {}

/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    display: block;

    >tbody {
        display: block;
        width: 100%;

        >tr {
            display: flex;
            width: 100%;

            >td:last-child {
                overflow-x: auto;
            }
        }
    }
}

/* LineHighlight */
.chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffffcc;
}

/* LineNumbersTable */
.chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
    display: block;
}

/* LineNumbers */
.chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
}